<div class="container-7">
  <h2>User info</h2>
  <%= image_tag user.get_profile_image(100, 100) %>
  <table>
    <tr>
      <th>name</th>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <th>introduction</th>
      <td><%= user.introduction %></td>
    </tr>
    <tr>
      <th><%= link_to "編集", edit_user_path(user) %></th>
    </tr>
  </table>
  <div>
    <h2>New Book</h2>
    <%= form_with model: @book do |f| %>
      <%= f.label "title" %><br>
      <%= f.text_field :title %><br>
      <%= f.label "Opinion" %><br>
      <%= f.text_area :body %><br>
      <%= f.submit "Create Book", class: "btn btn-success" %>
    <% end %>
  </div>
</div>