<% if flash[:notice] %>
  <p id="notice">
   <%= flash[:notice] %>
  </p>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-8.offset-md-1">
      <%= render "userinfo", user: @user, profile_image: @profile_image %>
    </div>
    <div class="col-8">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
        <% @user.books.each do |book| %> <!--%の後に常に=を入れてしまう癖がある為注意する事。 =を入れてしまうと余計なものが表示される-->
        <tr>
          <td><%= image_tag @user.get_profile_image(80, 80) %></td>
          <td><%= link_to book.title, book_path(book.id) %></td>
          <td><%= book.body %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>