<% if flash[:notice] %>
  <p id="notice">
   <%= flash[:notice] %>
  </p>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-8.offset-md-1">
      <%= render "users/userinfo", user: @user, profile_image: @profile_image %>
    </div>
    <div class="col-8">
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
        <tr>
          <td>
            <%= link_to user_path(@user) do %>
              <%= image_tag @user.get_profile_image(100,100) %><br>
              <%= @user.name %>
            <% end %>
          </td>
          <td><%= link_to @hon.title, book_path(@hon) %></td>
          <td><%= @hon.body %></td>
          <% if @hon.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@hon), class: "btn btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@hon), method: :delete, class: "btn btn-danger", data: {confirm: "本当に消しますか？"} %></td>
          <% end %>
        </tr>
      </table>
    </div>